[defaults]
inventory = /mnt/data/ozone/ozone/ozone-deployment/ansible/inventory
host_key_checking = False
private_key_file = ~/.ssh/google_compute_engine
remote_user = ansible

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
